<aside class="aside">
    <div class="logo">
      <a href="javascript:void(0)">
        <img src="/assets/images/logo.jpg" alt="Logo"> 
        <span class="logo_title">Khubza w shawerma</span>
       </a>
    </div>

    <div class="menu_wrap">
     <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0)" [routerLink]="['/dashboard/orders']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['/dashboard/past-orders']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Past Orders</a>
        </li>
       </ul>
    </div>
</aside>


  <!-- <app-footer></app-footer> -->