<ul class="nav nav-pills nav-justified mb" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/dashboard/orders']" routerLinkActive="active"  id="pills-home-tab" data-toggle="pill" href="javascript:void(0)">New Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  id="pills-profile-tab" [routerLink]="['/dashboard/orders/active']" routerLinkActive="active"  data-toggle="pill" href="javascript:void(0)">Active Orders</a>
    </li>

  </ul>